* {margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --perfil-color: #393939;
    --include-color: #665F5B;
    --posters-color: #B2672D;
    --footer-color: #393939;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 758px;
    gap: 60px;
    background-color: var(--perfil-color);
}

.card-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 549px;
    border-radius: 35px;
    box-shadow: 5px 5px 5px 1px rgba(48, 38, 50, 0.70);
    background-image: url(../assets/background-perfil.png);
}

.card-perfil h3{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-perfil p{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 683px;
    height: 549px;
    border-radius: 35px;
    background: linear-gradient(180deg, #A84C16 0%, #14252C 100%);
    box-shadow: 5px 5px 5px 1px rgba(48, 38, 50, 0.70);
}

.text-description{
    display: flex;
    flex-direction: column;
    width: 566px;
    color: #FFF;
    font-family: Lato;
    font-size: 23.143px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 67px;
    gap: 30px;
}

.button-description{
    display: flex;
    justify-content: left;
    padding-top: 103px;
    padding-left: 67px;
    gap: 32px;
}

.lattes, .github{
    color: #FFF;
    font-family: Lato;
    font-size: 23.143px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 151px;
    height: 62px;
    border-radius: 15px;
    background: #733612;
    box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.50);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.lattes:hover, .github:hover {
    background-color: #52220b;
}

.lattes:active, .github:active {
    transform: scale(0.95);
}

.include-explication{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 434px;
    background-color: var(--include-color);
}

.title-explication{
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 71px;
}

.text-explication{
    padding-top: 76px;
    width: 1138px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 818px;
    background: var(--posters-color);
    overflow: hidden;
}

.grid-projects{
    padding-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.components{
    display: flex;
    flex-direction: column;
    width: 548px;
    height: 247px;
    border-radius: 12px;
    border: 1px solid rgba(104, 104, 104, 0.50);
    background: #D9D9D9;
}

.projects h1{
    padding-top: 57px;
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projects a{
    color: #313131;
    text-decoration: none;
}

.title-components{
    padding: 15px;
    padding-left: 30px;
    display: flex;
    gap: 10px;
    color: #313131;
    text-align: center;
    font-family: Lato;
    font-size: 25.275px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.public{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 32px;
    border-radius: 15px;
    border: 1px solid #000;
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description-components{
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 30px;
    width: 461px;
    color: #000;
    font-family: Lato;
    font-size: 18.15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cicle-lenguage{
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #656565;
    text-align: center;
    font-family: Lato;
    font-size: 25.275px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 203px;
    background: var(--footer-color);
}

footer p{
    margin-top: auto;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 30px;
}

.icons-social{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
}

.line-left{
    padding-right: 24.5px;
}

.line-rigth{
    padding-left: 25px;
}